.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
li {
  list-style: none;
}
li:hover {
  cursor: pointer;
}
/***********/
.cursor-pointer:hover {
  cursor: pointer;
}
nav[id="paging"] {
  margin: auto auto 20px auto;
}

nav[id="paging"] button {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: #405b40;
  font-style: italic;
  margin: 0 6px;
}

nav[id="paging"] button:disabled {
  font-weight: 600;
  font-style: normal;
  color: #000;
}

nav[id="paging"] button:disabled:hover {
  cursor: default;
}

nav[id="paging"] button:not(:disabled):hover {
  text-decoration: underline;
}

nav[id="paging"] button.btn-paging,
nav[id="paging"] span.btn-empty {
  display: inline-block;
  width: 100px;
}

/***********/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
